h2:first-of-type+ol {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  
  
  padding: 0;
}

h2:first-of-type+ol>li {
  position:relative;
  display: inline-flex;
  width: 320px;
  height: 240px;
  min-width: 320px;
  min-height: 240px;
  background-color: tomato;
  
  align-items: center;
  justify-content: center;
  
  border: 1px solid gray;
  
  margin: 10px 10px;
} 
/*
h1+ol:first-of-type>li>a::after {
  content:' ';
  background-color: rgba(245, 245, 245, 0.8);
  position:absolute;
  top:0;
  display:block;
  width:100%;
  height: 30%;
}*/


h2:first-of-type+ol>li>a {
  display:block;
  position:absolute;
  top: 0;
  width:100%;
  height: 100%;
background: linear-gradient(to top, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.8)) no-repeat;
    background-size: 100% 50px;
  text-align: center;
  text-decoration: none;
  font-size: 200%;
  color:black;
}


h2:first-of-type+ol>li:nth-child(1) {
  background-image: url('https://cdn.glitch.com/80978ab7-9db6-45ae-bc43-4fab16bdbb6e%2Fglitch-thumb.png?1524423532796');
}
h2:first-of-type+ol>li:nth-child(2) {
  background-image: url('https://fixed-chronometer.glitch.me/thumb/?url=https://aframe-usj.glitch.me/examples/01-basics-05-primitives.html');
}
h2:first-of-type+ol>li:nth-child(3) {
  background-image: url('https://fixed-chronometer.glitch.me/thumb/?url=https://aframe-usj.glitch.me/examples/01-basics-06-lights.html');
}

h2:first-of-type+ol>li:nth-child(4) {
  background-image: url('https://fixed-chronometer.glitch.me/thumb/?url=https://aframe-usj.glitch.me/examples/02-textures-01.html');
}

h2:first-of-type+ol>li:nth-child(5) {
  background-image: url('https://fixed-chronometer.glitch.me/thumb/?url=https://aframe-usj.glitch.me/examples/03-environments-01.html');
}
h2:first-of-type+ol>li:nth-child(6) {
  background-image: url('https://fixed-chronometer.glitch.me/thumb/?url=https://aframe-usj.glitch.me/examples/04-3d-models-01-gltf.html');
}

h2:first-of-type+ol>li:nth-child(7) {
  background-image: url('https://cdn.glitch.com/80978ab7-9db6-45ae-bc43-4fab16bdbb6e%2Fmagica-voxel-thumb.png?1524423379688');
}

h2:first-of-type+ol>li:nth-child(8) {
  background-image: url('https://fixed-chronometer.glitch.me/thumb/?url=https://aframe-usj.glitch.me/examples/06-interactions-04-events-targets.html');
}

h2:first-of-type+ol>li:nth-child(9) {
  background-image: url('https://fixed-chronometer.glitch.me/thumb/?url=https://aframe-usj.glitch.me/examples/07-animations-02-easings.html');
}


h2:first-of-type+ol>li:nth-child(10) {
  background-image: url('https://fixed-chronometer.glitch.me/thumb/?url=https://aframe-usj.glitch.me/examples/08-portals-01.html');
}

h2:first-of-type+ol>li:nth-child(11) {
  background-image: url('https://fixed-chronometer.glitch.me/thumb/?url=https://aframe-usj.glitch.me/examples/09-sound-01.html');
}
